<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GraphicsApp </title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/image-posts.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GraphicsApp.styles.css" asp-append-version="true" />
</head>
<body class="image-posts-container">
    @model IEnumerable<GraphicsApp.Models.ImagePostViewModel>

    <h2>Галерея</h2>
    <div class="wrap-cards">
    @foreach (var post in Model)
    {
        <div class="card">
            <div class="wrap-image">
                <img src="@post.BlobUrl" />
                
            </div>
            <div class="contents">
                <p>@post.Message</p>
                <div class="contents-info">
                    <small>@post.UserName</small>
                    <small>@post.CreatedAt</small>
                </div>
            </div>
        </div>
    }
    </div>
</body>
</html>
